@font-face {
    font-family: "Public Sans";
    src: url('fonts/Public_Sans/static/PublicSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Public Sans";
    src: url('fonts/Public_Sans/static/PublicSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}


.infoContainer{
    display: flex;
    height: 70px;
}

.infoItemContainer{
    width: 50%;
}

.infoLogo{
    width: 160px;
    background: none;
    border: none;
    cursor: pointer;
    float: left;
}

.infoButton{
    background: #4C74F5 0% 0% no-repeat padding-box;
    border-radius: 16px;
    padding: 20px;
    opacity: 1;
    font: normal normal 600 18px/21px "Public Sans", Arial, Sans-Serif;
    letter-spacing: 0px;
    cursor: pointer;
    color: #FFFFFF;
    float: right;
}

.homeMainHeader{
    text-align: center;
    font: normal normal bold 96px/113px "Public Sans", Arial, Sans-Serif;
    letter-spacing: 0px;
    line-height: 1;
    color: #091A5A;
    opacity: 1;
}

.homeMainText{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: '10vh';
    width: 700px;
    margin: auto;
    text-align: center;
    font: normal normal normal 18px/28px "Public Sans", Arial, Sans-Serif;
    letter-spacing: 0px;
    color: #091A5A;
    opacity: 1;
}

.homeMainButton{
    background: #4C74F5 0% 0% no-repeat padding-box;
    border-radius: 16px;
    padding: 20px;
    opacity: 1;
    text-align: center;
    font: normal normal normal 18px/28px "Public Sans", Arial, Sans-Serif;
    letter-spacing: 0px;
    cursor: pointer;
    color: #FEFEFF;
}

.homeChartText{
    font: normal normal normal 18px/28px "Public Sans", Arial, Sans-Serif;
    letter-spacing: 0px;
    color: #091A5A;
    opacity: 1;
}
