@font-face {
    font-family: "Public Sans";
    src: url('fonts/Public_Sans/static/PublicSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Public Sans";
    src: url('fonts/Public_Sans/static/PublicSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

body{
    background-color: #dde1ec;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 30px;
    /* background-image: url('/src/assets/fonas_extended.jpg'); */
    background-image: url('/src/assets/legionas_pries_legioneles_01.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}


.welcomeBackground{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: 20;
    background: rgb(0, 0, 0, 0.6);
}

.welcomeImage{
    width: 80vw;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.fadeModalAnimation{
    animation: yeet 2s;
}

@keyframes yeet {
    0% {
        /* transform: translateY(0); */
        opacity: 1;
    }
    50% {
        /* transform: translateY(-100vh); */
        opacity: 0;
    }
    100% {
        /* transform: translateY(-100vh); */
        opacity: 0;
    }
}

.homeWindowCenteringContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.homeWindowContainer{
    max-width: 1500px;
}

.blob {
    background: #4C74F5;
    animation: morph 4s ease-in-out infinite;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 100%;
    float: right;
    font: normal normal 600 18px/21px "Public Sans", Arial, Sans-Serif;
    transition: all 1s ease-in-out;
    width: 160px;
    z-index: inherit;
    cursor: pointer;
    border: none;
    color: #fff;
    text-align: center;
    height: 130px;
    text-decoration: none;
}

.blob:hover,
.blob:focus {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}
  
@keyframes morph {
    0% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.infoContainer{
    display: flex;
    height: 10%;
    z-index: 10;
}

.infoItemContainer{
    width: 50%;
    z-index: inherit;
}

.infoLogo{
    width: 160px;
    background: none;
    border: none;
    cursor: pointer;
    float: left;
    z-index: inherit;
}

.homeMainHeader{
    text-align: center;
    font: normal normal bold 96px/113px "Public Sans", Arial, Sans-Serif;
    letter-spacing: 0px;
    margin-top: 0;
    margin-bottom: 2%;
    line-height: 1;
    color: #091A5A;
}

.homeMainTextContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.homeMainTextContainer h3{
    max-width: 600px;
}

.homeMainTextContainer h3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
    text-align: center;
    font: normal normal normal 18px/28px "Public Sans", Arial, Sans-Serif;
    letter-spacing: 0px;
    color: #091A5A;
}

.homeMainButtonContainer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeMainButton{
    background: #4C74F5 0% 0% no-repeat padding-box;
    border-radius: 16px;
    padding: 20px;
    opacity: 1;
    text-align: center;
    font: normal normal normal 18px/28px "Public Sans", Arial, Sans-Serif;
    letter-spacing: 0px;
    cursor: pointer;
    color: #FEFEFF;
    border: none;
}

.homeChartContainer{
    width: 100%;
}

.homeChart{
    width: 90%;
    height: 250px;
    margin: auto;
}

.chartFiller{
    height: 20px;
}

.homeChartText{
    margin-left: 5%;
    margin-right: auto;
    font: normal normal normal 18px/28px "Public Sans", Arial, Sans-Serif;
    color: #091A5A;
}

.homeFooter{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: #4C74F5;;
    z-index: 20;
    border-radius: 16px 16px 0px 0px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.homeFooter p{
    margin-left: 20px;
    margin-right: 20px;
    font: normal normal normal 15px/17px "Public Sans", Arial, Sans-Serif;
}

.homeFooter h1{
    margin-left: 20px;
    margin-right: 20px;
    font: normal normal normal 30px/0px "Public Sans", Arial, Sans-Serif;
}

.homeFooterPartnerContainer{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   justify-items: center;
}

.homeFooterPartner{
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.homeFooterImage{
    cursor: pointer;
    height: 80px;
}

.homeFiller{
    height: 120px;
}

a {
    color: #091A5A;
    text-underline-offset: 3px;
}

a:hover,
a:focus {
    color: #4C74F5;
}

@media (max-height: 700px){
    .homeFooterPartnerContainer{
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }
    .homeFooterImage{
        height: 50px;
    }
    .homeFooter h1{
        font: normal normal normal 20px/0px "Public Sans", Arial, Sans-Serif;
    }
    .homeFooter p{
        font: normal normal normal 10px/12px "Public Sans", Arial, Sans-Serif;
    }
}

@media (min-width: 2000px){
    .homeChart{
        margin-top: 5vh;
        height: 30vh;
    }
}

@media (max-width: 1200px){
    .homeFiller{
        height: 170px;
    }
    .homeFooter{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 1000px){
    .homeMainTextContainer{
        grid-template-columns: repeat(1, 1fr);
    }
    .homeMainTextContainer h3{
        margin-top: 20px;
    }
}

@media (max-height:890px){
    body{
        overflow: scroll;
    }
}

@media (max-width:900px){
    .homeFiller{
        height: 290px;
    }
}

@media (max-width:600px){
    .homeFiller{
        height: 200px;
    }
    .homeFooterPartnerContainer{
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }
    .homeFooterImage{
        height: 50px;
    }
    .homeFooter h1{
        font: normal normal normal 20px/0px "Public Sans", Arial, Sans-Serif;
    }
    .homeFooter p{
        font: normal normal normal 10px/12px "Public Sans", Arial, Sans-Serif;
    }
}

@media screen and (max-aspect-ratio:1/1){
    .welcomeImage{
        width: 100vw;
    }
    body{
        padding: 10px;
    }
    .blob {
        height: 80px;
        width: 100px;
        font-size: 14px;
    }
    .homeMainHeader{
        margin-top: 30px;
        font: normal normal bold 40px/45px "Public Sans", Arial, Sans-Serif;
    }
    .homeMainText{
        width: 100%;
        font: normal normal normal 15px/20px "Public Sans", Arial, Sans-Serif;
    }
    .homeChart{
        height: 150px;
    }
    .homeChartText{
        font: normal normal normal 10px/12px "Public Sans", Arial, Sans-Serif;
    }
}