@font-face {
    font-family: "Public Sans";
    src: url('fonts/Public_Sans/static/PublicSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Public Sans";
    src: url('fonts/Public_Sans/static/PublicSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

body{
    background-color: #e8f5fc;
    overflow: hidden;
    padding: 30px;
    background-image: url('/src/assets/fonas.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    height: 100vh;
}

.blob {
    background: #4C74F5;
    animation: morph 4s ease-in-out infinite;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 100%;
    float: right;
    font: normal normal 600 18px/21px "Public Sans", Arial, Sans-Serif;
    transition: all 1s ease-in-out;
    width: 160px;
    z-index: inherit;
    cursor: pointer;
    border: none;
    color: #fff;
    text-align: center;
    height: 130px;
    text-decoration: none;
}
  
@keyframes morph {
    0% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.infoContainer{
    display: flex;
    height: 10%;
    z-index: 10;
}

.infoItemContainer{
    width: 50%;
    z-index: inherit;
}

.infoLogo{
    width: 160px;
    background: none;
    border: none;
    cursor: pointer;
    float: left;
    z-index: inherit;
}

.homeMainHeader{
    text-align: center;
    font: normal normal bold 96px/113px "Public Sans", Arial, Sans-Serif;
    letter-spacing: 0px;
    margin-top: 0;
    margin-bottom: 2%;
    line-height: 1;
    color: #091A5A;
}

.homeMainText{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: '10vh';
    width: 60%;
    margin: auto;
    text-align: center;
    font: normal normal normal 18px/28px "Public Sans", Arial, Sans-Serif;
    letter-spacing: 0px;
    color: #091A5A;
    margin-bottom: 2%;

    @media (max-width: 800px) {
        grid-template-columns: 1fr;
    } 
}

.homeMainButton{
    background: #4C74F5 0% 0% no-repeat padding-box;
    border-radius: 16px;
    padding: 20px;
    opacity: 1;
    text-align: center;
    font: normal normal normal 18px/28px "Public Sans", Arial, Sans-Serif;
    letter-spacing: 0px;
    cursor: pointer;
    color: #FEFEFF;
    border: none;
}

.homeChartText{
    font: normal normal normal 18px/28px "Public Sans", Arial, Sans-Serif;
    color: #091A5A;
    opacity: 1;
}

.homeChart{
    width: 80%;
    height: 300px;
    margin: auto;
}

@media (max-height:890px){
    body{
        overflow: scroll;
    }
}

@media screen and (max-aspect-ratio:1/1){
    body{
        padding: 10px;
    }
    .blob {
        height: 80px;
        width: 100px;
        line-height: 80px;
        font-size: 14px;
    }
    .homeMainHeader{
        font: normal normal bold 50px/60px "Public Sans", Arial, Sans-Serif;
    }
    .homeMainText{
        width: 100%;
        font: normal normal normal 15px/20px "Public Sans", Arial, Sans-Serif;
    }
    .homeChart{
        height: 200px;
    }
    
}