@font-face {
    font-family: "Public Sans";
    src: url('fonts/Public_Sans/static/PublicSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Public Sans";
    src: url('fonts/Public_Sans/static/PublicSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.importantWindowContainer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.importantInfoMainButtonContainer{
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.importantInfoMainButton{
    background: #4C74F5 0% 0% no-repeat padding-box;
    border-radius: 16px;
    padding: 20px;
    font: normal normal normal 18px/28px "Public Sans", Arial, Sans-Serif;
    letter-spacing: 0px;
    cursor: pointer;
    color: #FEFEFF;
    border: none;
}

.importantContainer{
    padding-left: 10%;
    padding-right: 10%;
}

.importantHeaderContainer{
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: row;
}

.importantHeader{
    width: 50%;
    text-align: left;
    font: normal normal 600 48px/57px "Public Sans", Arial, Sans-Serif;
    letter-spacing: 0px;
    color: #091A5A;
    margin-top: 0;
    margin-bottom: 0;
}

.importantTextHeader{
    text-align: left;
    font: normal normal 500 24px/29px "Public Sans", Arial, Sans-Serif;
    letter-spacing: 0px;
    color: #091A5A;
    margin-bottom: 5px;
}

.importantMainText{
    margin-bottom: 0px;
    text-align: left;
    font: normal normal normal 16px/26px "Public Sans", Arial, Sans-Serif;
    letter-spacing: 0px;
    color: #091A5A;
}

.importantSmallText{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    font: normal normal normal 10px/15px "Public Sans", Arial, Sans-Serif;
    letter-spacing: 0px;
    color: #091A5A;
}

.importantInfoCollapsibleSummary{
    cursor: pointer;
    margin-bottom: 30px;
}

.importantGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.importantCardContainer{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.importantCardImage{
    height: 60px;
}

.importantCard{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 15px #12112714;
    border-radius: 12px;
    width: 340px;
    height: 150px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    cursor: pointer;
    border: none;
}

.importantCardHeader{
    margin-top: auto;
    text-align: center;
    font: normal normal bold 18px/21px "Public Sans", Arial, Sans-Serif;
    color: #091A5A;
    text-decoration: none;
    margin-bottom: 0;
}

.importantCardText{
    text-align: left;
    font: normal normal normal 16px/26px "Public Sans", Arial, Sans-Serif;
    letter-spacing: 0px;
    color: #091A5A;
}

.importantCardLinkContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.importantCardLink {
    font: normal normal bold 16px/26px "Public Sans", Arial, Sans-Serif;
    letter-spacing: 0px;
    color: #4C74F5;
    text-decoration: none;
}

.importantCardLink:hover,
.importantCardLink:focus {
    text-decoration: underline;
    color: #091A5A;
}

@media (max-width: 1400px) {
    body{
        overflow: scroll;
    }
    .importantGrid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media (max-width: 1000px) {
    .importantHeaderContainer{
        flex-direction: column;
    }
    .importantHeader{
        width: 100%;
    }
    .importantInfoMainButtonContainer{
        width: 100%;
        margin-top: 40px;
        margin-bottom: 30px;
        justify-content: center;
    }
    .importantGrid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    .importantContainer{
        padding: 0%;
    }
    .importantHeader{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 0;
    }
}

@media (max-width: 450px) {
    .importantCard{
        width: 100%;
    }
}

@media screen and (max-aspect-ratio:1/1){
    .importantHeader{
        font: normal normal 600 32px/37px "Public Sans", Arial, Sans-Serif;
    }
}