@font-face {
  font-family: "Public Sans";
  src: url('fonts/Public_Sans/static/PublicSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

.imageAndButtonContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  position: relative;
}

.ImageOverlayContainer{
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 0;
}

.imageContainer{
  align-items: center;
  height: calc(90vh);
  position: relative;
}

.mainImage{
  height: 100%;
}

.buttonOnImage{
  width: calc(100vh * 0.015);
  height: calc(100vh * 0.015);
  background-color: #4C74F5;
  z-index: 100;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}

.wave {
  width: calc(100vh * 0.015);
  height: calc(100vh * 0.015);
  background-color: #4C74F5;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.switch-field {
  margin-top: 20px;
}

.optionButtonText{
  width: 100%;
  text-align: left;
  font: normal normal normal 16px/0px "Public Sans", Arial, Sans-Serif;
  letter-spacing: 0px;
  color: #091A5A;
  opacity: 1;
}

.optionButtonContainer{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 40px;
  width: 400px;
  height: 40px;
  opacity: 1;
}

.optionButton{
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
  font: normal normal normal 16px/0px "Public Sans", Arial, Sans-Serif;
}

.switch-field .option {
  display: inline-block;
  cursor: pointer;
  align-items: center;
  height: 100%;
  width: 50%;
}

.switch-field .option.selected {
  background: #4C74F5 0% 0% no-repeat padding-box;
  border-radius: 70px;
  border: none;
  opacity: 1;
  backdrop-filter: blur(11px);
  color: white;
}

.switch-field .option.disabled {
  color: #ccc; 
  cursor: not-allowed; 
  pointer-events: none; 
}

.interactiveHeader{
  text-align: right;
  font: normal normal 600 50px/50px "Public Sans", Arial, Sans-Serif;
  margin-bottom: 0;
  letter-spacing: 0px;
  color: #091A5A;
  opacity: 1;
}

.interactiveText{
  text-align: left;
  font: normal normal 300 16px/24px "Public Sans", Arial, Sans-Serif;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0px;
  color: #091A5A;
  opacity: 1;
}

@media (min-width: 1001px) {
  .interactiveButtonAndTextContainer{
    z-index: 0;
    height: 10%;
  }
  .interactiveButtonContainer{
    float: left;
    min-width: 330px;
  }
  .optionButtonContainer{
    position: relative;
    z-index: 10;
    width: 100%;
  }
  .interactiveTextContainer{
    float: right;
    position: relative;
    z-index: 10;
    width: 25%;
  }
  .interactiveText{
    text-align: right;
  }
  .firstInteractiveHeader{
    display: none;
  }
}

@media (max-width: 1000px) {
  .imageContainer{
    margin-top: 10px;
    height: calc(100vw - 200px);
  }
  .optionButtonContainer{
    width: 90vw;
    height: calc(5vh/10vw);
  }
  .optionButton{
    font: normal normal normal 12px/0px "Public Sans", Arial, Sans-Serif;
  }
  .ImageOverlayContainer{
    top: 0;
    position: relative;
  }
  .secondInteractiveHeader{
    display: none;
  }
  .interactiveHeader{
    text-align: left;
    margin-top: 10px;
  }
}
