@font-face {
  font-family: "Public Sans";
  src: url('fonts/Public_Sans/static/PublicSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

.imageAndButtonContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.ImageOverlayContainer{
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 0;
}

.imageContainer{
  align-items: center;
  height: calc(100vh - 200px);
  padding: 5px;
  position: relative;
}

.mainImage{
  height: 100%;
}

.buttonOnImage{
  width: calc(100vh * 0.015);
  height: calc(100vh * 0.015);
  background-color: #4C74F5;
  z-index: 100;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}

.wave {
  width: calc(100vh * 0.015);
  height: calc(100vh * 0.015);
  background-color: #4C74F5;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.switch-field {
  display: flex; 
  justify-content: center;
}

.switch-field .option {
  cursor: pointer;
  padding: 5px; 
}

.switch-field .option.selected {
  background-color: #0000FF20;
  border: 1px solid #0000FF;
}

.switch-field .option.disabled {
  color: #ccc; 
  cursor: not-allowed; 
  pointer-events: none; 
}

.close-container {
  cursor: pointer;
}

.infoButtons{
  vertical-align: bottom;
  height: 105px;
}

.option-buttons {
  display: flex;
  border: solid;
  border-radius: 16px;
}

.option-button {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FFFFFF50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 150px;
}

.leftButton{
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-right: solid;
}

.rightButton{
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-left: solid;
}

.icon img {
  cursor: pointer;
}

.optionText{
  font-family: "Public Sans", Arial, Sans-Serif;
  color: #091A5A;
}

.text {
  cursor: default;
  width: 100px;
  white-space: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}