@font-face {
    font-family: "Public Sans";
    src: url('fonts/Public_Sans/static/PublicSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.legionDangerContainer{
    background: #BB0642 0% 0% no-repeat padding-box;
    border-radius: 16px;
    padding: 20px;
    color: white;
}

.legionDangerContainer h2{
    font: normal normal 600 20px/20px "Public Sans", Arial, Sans-Serif;
    color: white;
}

.legionDangerContainer h3{
    font: normal normal 600 13px/15px "Public Sans", Arial, Sans-Serif;
    color: white;
}

.legionDangerContainer p{
    font: normal normal 300 12px/18px "Public Sans", Arial, Sans-Serif;
    color: white;
}

.legionDangerTopContainer{
    display: flex;
    flex-direction: column;
}

.legionDangerHeaderAndImageContainer{
    width: 100%;
}

.legionDangerImageItemContainer{
    width: 50%;
    max-width: 100px;
    margin: 10px;
    float: left;
    color: white;
}

.legionDangerHeaderContainer{
    width: 100%;
}

.legionDangerImageContainer{
    padding: 10%;
    width: 50%;
    float: left;
    border-radius: 100%;
    background-color: #FFFFFF;
}

.legionDangerImage{
    width: 100%;
}

.legionLinkContainer{
    background: #fafafa 0% 0% no-repeat padding-box;
    border: 1px solid #D2DCF7;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    padding: 0 10px 0 10px;
}

.legionLinkContainer h3{
    text-align: left;
    color: black;
    font: normal normal bold 16px/15px "Public Sans", Arial, Sans-Serif;
}

.legionLinkContainer p{
    text-align: left;
    color: black;
    font: normal normal normal 16px/15px "Public Sans", Arial, Sans-Serif;
}

.legionLinkTextContainer{
    width: 90%;
}

.legionLinkArrowContainer{
    width: 10%;
}

.legionLinkArrow{
    float: right;
    margin: 10px;
    filter: invert(38%) sepia(86%) saturate(510%) hue-rotate(189deg) brightness(101%) contrast(105%);
}

@media (max-width: 1500px){
    .legionDangerImageItemContainer{
        width: 100%;
        max-width: none;
    }
    .legionDangerImageContainer{
        width: 8vh;
        height: 8vh;
    }
}

@media (max-width: 1000px){
    .legionDangerImageItemContainer{
        width: 50%;
        max-width: 100px;
    }
    .legionDangerImageContainer{
        width: 50%;
        height: auto;
    }
}

@media (max-width: 500px){
    .legionDangerImageItemContainer{
        width: 80%;
        max-width: none;
    }
    .legionDangerImageContainer{
        width: 10vh;
        height: 10vh;
    }
}